<div class="container text-center mt-5">
  <div class="row g-2">
    <% @dog_walkers.each do |dog_walk| %>
      <div class="col-2 mx-2 mb-5">
        <img src="<%= dog_walk.user.picture %>" class="card-img-top" alt="...">
        <div class="card-body">
        <h6 class="card-title text-start pt-2"><%= dog_walk.user.full_name.capitalize %></h5>
          <p class="card-text text-start pt-2"> Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
          <div class="link-to-dog-walker pt-2 text-end">
            <%= link_to dog_walker_path(dog_walk) do %> Visit profile
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
