<div class="container text-center mt-5">
  <div class="row g-2 ">
    <% @dog_walkers.each do |dog_walk| %>
      <div class="cards-img col-2 mx-5 mb-5">
       <% if dog_walk.photo.attached? %>
          <%= cl_image_tag dog_walk.photo.key, height: 300, width: 300, :class => "card-img-top" %>
       <% end %>
        <div class="card-body">
        <h6 class="card-title text-start pt-2"><%= dog_walk.user.full_name.capitalize %></h6>
          <p class="card-text text-start pt-2"><%= dog_walk.user.introduction %></p>
          <div class="link-to-dog-walker pt-2 text-end">
            <%= link_to dog_walker_path(dog_walk) do %> Visit profile
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
