
<section class="container py-5">
  <div class="row align-items-center py-3 py-md-4">
    <div class="col-sm-6">
      <div class="mb-5 mb-sm-0 text-center text-sm-start">
        <div class="radio-tab-pane active" id="color-1" role="tabpanel"><img class="d-block mx-auto" src="https://images.unsplash.com/photo-1518717758536-85ae29035b6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8ZG9nc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="Profile-picture"></div>
      </div>
    </div>
    <div class="col-sm-6 text-center text-sm-start">
      <h2 class="pb-4" id = "about-me-title">About me</h2>
      <div class="mb-3"><span class="fs-sm text-heading fw-medium me-1" id="walker-name">
      <%= @dog_walker.user.full_name %></span>
      </div>
      <p id= "about-me-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam quos nisi dolores quia vitae suscipit recusandae</p>
      <ul class="nav col-md-4 list-unstyled d-flex">
        <li class="ms-1"><a class="text-muted" href="#"><i class="fa-solid fa-location-dot"></i><%= @dog_walker.user.city%></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><i class="fa-solid fa-dollar-sign"></i><%= @dog_walker.price %></a></li>
      </ul>
      <%# <a class="btn btn-primary mt-3" href="#">Book</a> %>
      <%= link_to "Book", new_dog_walker_booking_path(@dog_walker), class: "btn btn-primary mt-3"%>
    </div>
    </div>
  </div>
</section>
