.success{
  color: #5ba698;
  text-align: center;
}
.booking .btn {
  background-color: #5e817b;
  margin: 62px;
}

.booking-subtitles-input {
  font-size: 22px;
  }

  .greeting-message {
    color: #5ba698;
  }

  .warning-message{
    font-size:14px;

  }
