.success{
  color: #5ba698;
  text-align: center;
}
.booking .btn {
  background-color: #5ba698;;
  margin: 62px;
}

.booking-subtitles-input {
  font-size: 18px;
  color: grey;
  text-align: right;
  }

  .greeting-message {
    color: #5ba698;
  }

  .warning-message{
    font-size:14px;

  }
