// Specific CSS for your home-page
.hero {
  position: relative;
  width: 100vw;
  height: 50vh;
  display:flex;
}

.hero::before  {
  content: "";
  position: absolute;
  width:100%;
  height:500px;
  background: url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  filter: brightness(60%);
}

.hero-titles {
  text-align: center;
}

h1 {
  color: #BF522A;
  font-weight: 800;
  padding-top: 120px;
}

h1 .fa-paw {
  font-size: 62px;
}

h5 {
  color: gray;
  text-align: center;
  padding: 40px;
  line-height: 32px;
  letter-spacing: 2px;
}

p {
  padding: 20px;
}

.btn-primary {
  background-color: rgba(91, 166, 152, 0.9);
  border-radius: 3px;
  padding: 16px;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
