// Specific CSS for your home-page
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display:flex;
}

.hero::before  {
  content: "";
  position: absolute;
  width:100%;
  height:500px;
  background: url('https://images.unsplash.com/photo-1494947665470-20322015e3a8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  filter: brightness(60%);
}

.hero-content{
  position:relative;
}

.hero h1, h5 {
  color:white;
}
