// Import page-specific CSS files here.
@import "show";
@import "new";
<<<<<<< HEAD

=======
>>>>>>> 688b94a097c989394332cc005d3f977bd24dd908
.row {
  justify-content: space-evenly;
}

.card-img-top {
  border-radius: 3px;
}

.card-text {
  font-style: oblique;
  color: grey;
}

.card-title {
  color: grey;
  font-weight: 600;
}

.link-to-dog-walker a {
  color: #fff;
  text-decoration: none;
  background-color: rgba(91, 166, 152, 0.9);
  padding: 8px;
  border-radius: 3px;
}

.hero-titles {
  text-align: center;
}
