.log{
  color: grey;
  font-weight: 800;
  padding-top: 31px;
  text-align: center;
}

.form-inputs {
  text-align: center;
  margin-top: 22px;
  margin-bottom: 3.5rem;
}

body{
  text-align: center;
}

a{
  // padding-bottom: 50px;
}

.btn {
  margin-bottom: 50px;
}
