.log{
  color: grey;
  font-weight: 800;
  padding-top: 31px;
  text-align: center;
}

.form-inputs {
  text-align: center;
}

body{
  text-align: center;
}

a{
  // padding-bottom: 50px;
}

.btn {
  margin-bottom: 50px;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 22px;
  margin-bottom: 3.5rem;
}
