.btn {
background-color: #5BA698;
border-color: #5BA698;

}

.btn {
--bs-btn-hover-bg: #5BA698;
--bs-btn-hover-border-color: #5BA698;
--bs-btn-active-bg: #5BA698;
--bs-btn-active-border-color: #5BA698;
}




#about-me-title {
color: grey;
font-weight: 600;
font-size: 36px;
}

#walker-name {
  color: grey;
  font-weight: 500;
  font-size: 18px;
}

#about-me-content {
  color: grey;
  font-weight: 500;
}
