<<<<<<< HEAD
<h1>Congratulations! its successful!</h1>
=======
<h1 class="success">Your walk has been booked successfully <i class="fa-sharp fa-solid fa-circle-check mb-5"></i></h1>
<div id="viewbookings"><%= link_to "View bookings", dashboard_path, class:"btn btn-primary w-25 justify-content-center d-flex" %></div>
>>>>>>> b64b2079ea6704347eb33dd76c30d22c2b30d344
