<div class="container">
  <h1 class="success">Your walk has been booked successfully <i class="fa-sharp fa-solid fa-circle-check mb-5"></i></h1>
  <div id="viewbookings" class="d-flex justify-content-center"><%= link_to "View all my bookings", dashboard_path, class:"btn btn-primary w-25" %></div>
</div>
