<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>


<div class="container text-center mt-5">
  <div class="row g-2">
    <div class="card col-4 mx-2">
      <img src="https://images.unsplash.com/photo-1629740067905-bd3f515aa739?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. <br> <button type="button" class="btn btn-primary btn-sm">Visit profile</button> </p>
      </div>
    </div>
    <div class="card col-4 mx-2">
      <img src="https://images.unsplash.com/photo-1531366599837-ce0c0e17657c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. <br> <button type="button" class="btn btn-primary btn-sm">Visit profile</button></p>
      </div>
    </div>
    <div class="card col-4 mx-2">
      <img src="https://images.unsplash.com/photo-1586079337717-662af4eebd21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content. <br> <button type="button" class="btn btn-primary btn-sm">Visit profile</button> </p>
      </div>
    </div>
    <div class="card col-4 mx-2">
      <img src="https://images.unsplash.com/photo-1660060928805-eb2972f1a6f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br> <button type="button" class="btn btn-primary btn-sm">Visit profile</button></p>
      </div>
    </div>
    <div class="card col-4 mx-2">
      <img src="https://images.unsplash.com/photo-1531366599837-ce0c0e17657c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br> <button type="button" class="btn btn-primary btn-sm">Visit profile</button></p>
      </div>
    </div>

    <div class="card col-4 mx-2">
      <img src="https://images.unsplash.com/photo-1586079337717-662af4eebd21?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.<br> <button type="button" class="btn btn-primary btn-sm">Visit profile</button></p>
      </div>
    </div>
  </div>
</div>
