<section class="hero">
  <div class="container-fluid hero-content">
  </div>
</section>
<div class="container hero-titles">
        <h1 class="hero-title">Bark_Away</h1>
        <h5 class="hero-subtitle">The website that takes your doggo for the most excited adventure,
        <br> wonder of smells, blind dates
        <br> and interactions with other fur local species (like Mr.Squirrel)</h5>
        <p class="hero-link "><%= link_to dog_walkers_path do  %>
        See dog walkers</button>
        <% end %>
        </p>
      </div>
    </div>
</div>
