.navbar {
background-color:  rgba(216, 171, 175, 0.5);
}

.navbar-brand {
  color: #fff;
  font-weight: 500;
  font-size: 28px;

  &:hover {
    color:#5BA698;
  }
}
.fa-paw {
  color: #5BA698;
  font-size: 36px;
  margin-left: 16px;
}

#bark-away-link a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
}


span .fa-paw {
  color: grey;
  font-size: 20px;
  margin-right: 10px;
}

.dropdown-item  {
  color: grey;
}

footer {
  width: 100%;
}

#search {
  border-radius: 40px;
  padding: 10px;
  transform: translate(-103px, 10px);
}

.log_out {
  color: grey;
  border: none;
  background-color: transparent;
}

.log_out:hover {
  color: black;
}
